*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFCF2;
  width:100vw;
}

h1 {
  font-family: 'Cherry Bomb One', serif;
  color: #8330CF;
  font-size: 4rem;
  text-align: center;
  margin: 0.5rem 0;
}

h2 {
  font-family: 'Indie Flower', cursive;
  color: #3C9E48;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.image1 {
  width: 20vw;
  position: sticky;
  top: 30;
}

.fox1 {
  height: 150px;
  width: auto;
  float: right;
}

.image2 {
  width: 90vw;
  position: sticky;
  top: 30;
}

.fox2 {
  height: 150px;
  width: auto;
  float: right;
}

.image3 {
  width: 20vw;
  position: sticky;
  top: 30;
}

.fox3 {
  height: 150px;
  width: auto;
  float: right;
}

.image4 {
  width: 90vw;
  position: sticky;
  top: 30;
}

.fox4 {
  height: 150px;
  width: auto;
  float: right;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.4;
  color: #C75232;
  margin: 2.5rem auto;
  max-width: 1000px;
  padding: 0 1.5rem;
}
