*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF2F2;
  width:100vw;
}

h1 {
  font-family: 'Cherry Bomb One', serif;
  color: #8330CF;
  font-size: 4rem;
  text-align: center;
  margin: 0.5rem 0;
}

h2 {
  font-family: 'Indie Flower', cursive;
  color: #3C9E48;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.4;
  color: #C75232;
  margin: 2.5rem auto;
  max-width: 1000px;
  padding: 0 1.5rem;
}
