*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Zm9yZXN0JTIwd2FsbHBhcGVyfGVufDB8fDB8fHww&fm=jpg&q=60&w=3000);
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  width:100vw;
}

h1 {
  font-family: 'Cherry Bomb One', serif;
  color: #8330CF;
  font-size: 4rem;
  text-align: center;
  margin: 2rem 1;
}

h2 {
  font-family: 'Indie Flower', cursive;
  color: #3C9E48;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.image1 {
  width: 90vw;
  position: sticky;
  top: 30;
  left: 20vw;
}

.fox1 {
  height: 150px;
  width: auto;
  float: left;
}

.image2 {
  width: 90vw;
  position: sticky;
  top: 30;
}

.fox2 {
  height: 150px;
  width: auto;
  float: right;
}

.image3 {
  width: 90vw;
  position: sticky;
  top: 30;
  left: 20vw;
}

.fox3 {
  height: 150px;
  width: auto;
  float: left;
}

.image4 {
  width: 90vw;
  position: sticky;
  top: 30;
}

.fox4 {
  height: 150px;
  width: auto;
  float: right;
}

main {
  position: relative;
  top: 20px;
  width: 100%;
  margin: 0;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.4;
  color: #D4570B;
  margin: 2.5rem auto;
  max-width: 1000px;
  padding: 0 1.5rem;
}

